<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input (keyup)="buscarMantenimiento( input.value )" type="text" class="form-control" placeholder="Buscar Mantenimiento...">

            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="text-right">
                    <button [routerLink]="['/mantenimiento','nuevo']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                      <i class="fa fa-plus"></i>
                      Crear Mantenimiento
                    </button>
                </div>

                <h3 class="card-title">Mantenimiento registrados ( <small> {{ totalRegistros }} </small> )</h3>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Encargado</th>
                            <th>Maquina</th>
                            <th>Pieza Dañada</th>
                            <th>Pieza Reemplazada</th>
                            <th>Descripcion</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let mantenimiento of mantenimientos">

                            <td> {{ mantenimiento.usuario.nombre }} </td>
                            <td> {{ mantenimiento.maquina }} </td>
                            <td> {{ mantenimiento.pieza_danada }} </td>
                            <td> {{ mantenimiento.pieza_reemplazada }} </td>
                            <td> {{ mantenimiento.descripcion }} </td>
                            <td>
                                <button [routerLink]="['/mantenimiento', mantenimiento._id ]" class="btn btn-primary">
                                  <i class="fa fa-edit"></i>
                                </button>

                                <button (click)="borrarMantenimiento( mantenimiento )" class="btn btn-danger">
                                  <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button (click)="cambiarDesde(-5)" class="btn btn-secondary">
                    Anteriores
                </button>

                <button (click)="cambiarDesde(5)" class="btn btn-secondary">
                    Siguientes
                </button>

            </div>
        </div>
    </div>
</div>